html,
body {
  font-family: 'Inter', 'HarmonyOS Sans SC', 'HarmonyOS_Regular', system-ui, —apple-system,
    Segoe UI, Rototo, Helvetica, Arial, sans-serif !important;
}
body {
  text-autospace: normal;
}

::selection {
  @apply bg-#165dff text-#fff;
}

.arco-popover-popup-content {
  width: 340px;
}

.vxe-header--column:not(.col--ellipsis) {
  padding: 8px 0 !important;
}

.vxe-table--render-default {
  font-family: 'Inter', 'HarmonyOS Sans SC', 'HarmonyOS_Regular', system-ui, —apple-system,
    Segoe UI, Rototo, Helvetica, Arial, sans-serif !important;
}

.arco-divider-horizontal {
  margin: 16px 0;
}

.vxe-table--render-default .is--checked.vxe-cell--checkbox .vxe-checkbox--icon,
.vxe-table--render-default
  .vxe-cell--checkbox:not(.is--disabled):hover
  .vxe-checkbox--icon,
.vxe-table--render-default .is--checked.vxe-cell--checkbox {
  color: #165dff !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border-width: 0px;
  @apply bg-#c9cdd4 dark:bg-#5f5f60;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-#86909c dark:bg-#929293;
}
