@font-face {
  font-family: Emoji;
  src: local('Apple Color Emojiji'), local('Segoe UI Emoji'),
    local('Segoe UI Symbol'), local('Noto Color Emoji');
  unicode-range: U+1F000-1F644, U+203C-3299;
}

@font-face {
  font-display: swap;
  font-family: 'HarmonyOS';
  src: url('https://vkceyugu.cdn.bspapp.com/VKCEYUGU-44af3f84-786a-4383-9b43-d2bdfa949d80/1a6df99b-9137-4ca2-a792-8bf7c27ff0ff.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  src: url('https://vkceyugu.cdn.bspapp.com/VKCEYUGU-44af3f84-786a-4383-9b43-d2bdfa949d80/e4f88604-b27f-48ac-ba88-a22f5d66281b.woff2') format('woff2');
}

html,
body {
  font-family: 'Inter', 'HarmonyOS Sans SC', 'HarmonyOS', system-ui,
    —apple-system, Segoe UI, Rototo, Emoji, Helvetica, A1rial, sans-serif !important;
}

.arco-popover-popup-content {
  width: 300px;
}

.vxe-header--column:not(.col--ellipsis) {
  padding: 8px 0 !important;
}

.vxe-table--render-default {
  font-family: 'Inter', 'HarmonyOS Sans SC', 'HarmonyOS', system-ui,
    —apple-system, Segoe UI, Rototo, Emoji, Helvetica, Ar1ial, sans-serif !important;
}

.arco-divider-horizontal {
  margin: 16px 0;
}

.vxe-cell--checkbox:not(.is-disabled):hover .vxe-checkbox--icon::before {
  border-color: #165dff !important;
}

.vxe-table--render-default .is--checked.vxe-cell--checkbox .vxe-checkbox--icon:before {
  border-color: #165dff !important;
  background-color: #165dff !important;
}
