.arco-popover-popup-content {
  width: 300px;
}
.vxe-header--column:not(.col--ellipsis) {
  padding: 8px 0 !important;
}
.vxe-table--render-default {
  font-family: 'HarmonyOS Sans SC', -apple-system, 'Microsoft YaHei', BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}
.arco-divider-horizontal {
  margin: 16px 0;
}
